
<?php $post = $block->getPost(); ?>
<?php $relatedProduct = $block->getRelatedProduct() ?>
<div class="blog__post-view">
    <p class="blog__post-meta">
        <time class="blog__post-meta-time" itemprop="datePublished">
            <i class="fa fa-fw fa-calendar"></i>
            <?= $post->getCreatedAt() ?>
        </time>
    </p>
    <div>
        <img src="<?= $block->getMediaUrl($post->getThumbnail()) ?>" alt="<?= $post->getTitle() ?>" />
    </div>
    <?= $post->getDescription() ?>
    <footer class="blog__post-footer">
        <span class="blog__post-footer-categories">
            <i class="fa fa-fw fa-folder-open"></i>
            <?= $block->getCategoryPostName($post->getId()); ?>
        </span>
    </footer>

    <div style="display: flex; justify-content: space-around; margin-bottom: 50px">
        <?php $gallerys = $block->convertStringToArray($post->getGallery()) ?>
        <?php if (count($gallerys) > 0): ?>
            <?php foreach ($gallerys as $gallery): ?>
                <div style="width: 20%; border: 5px solid #a3a3a3; border-radius: 5px; box-shadow: 5px 5px 10px #6d6d6d">
                    <img src="<?= $block->getMediaUrl($gallery) ?>" alt="<?= $post->getTitle() ?>" />
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
    <div class="blog__post-view-related-products">
        <?php if ($relatedProduct->count()): ?>
        <div class="block-title">Related Products</div>
        <ol>
            <div class="products wrapper grid products-grid">
                <ol class="products list items product-items">
                    <?php foreach ($relatedProduct as $product): ?>
                        <?php
                        $imgUrl = $block->getItemImage($product->getId());
                        ?>
                        <li class="item product product-item">
                        <div class="product-item-info">
                            <a href="" class="product photo product-item-photo">
                                <span class="product-image-container" style="width: 152px;">
                                    <span class="product-image-wrapper" style="padding-bottom: 125%;">
                                        <img
                                            class="product-image-photo"
                                            src="<?= $imgUrl ?>"
                                            max-width="152"
                                            max-height="190"
                                            alt="Set of Sprite Yoga Straps"
                                        />
                                    </span>
                                </span>
                            </a>
                            <div class="product details product-item-details">
                                <strong class="product name product-item-name">
                                    <a class="product-item-link"
                                       title="Set of Sprite Yoga Straps"
                                       href="">
                                        <?= $product->getName() ?>
                                    </a>
                                </strong>
                                <div class="price-box price-final_price" data-role="priceBox" data-product-id="45" data-price-box="product-id-45">
                                    <div class="price-box">
                                        <p class="minimal-price">
                                            <span class="price-container tax weee">
                                                <span data-price-amount="14" data-price-type="" class="price-wrapper">
                                                    <span class="price">$<?= $product->getPrice() ?></span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <?php endforeach ?>
                </ol>
            </div>
        </ol>
        <?php endif ?>
    </div>
</div>
