<?php

/** @var PostList $block */

$collection = $block->getCollectionPost();
?>

<?php if ($collection->count()): ?>
    <div class="blog__post-list-wrapper">
        <ol class="blog__post-list">
            <?php /** @var PostInterface $post */ ?>
            <?php foreach ($collection as $post): ?>
                <li class="blog__post-item">
                    <header class="blog__post-header">
                        <h2 class="blog__post-title" itemprop="headline">
                            <a href="<?= $block->getBaseUrl() . "{$post->getUrlKey()}.html" ?>" rel="bookmark">
                                <?= $post->getTitle() ?>
                            </a>
                        </h2>
                        <p class="blog__post-meta">
                            <time class="blog__post-meta-time" itemprop="datePublished">
                                <i class="fa fa-fw fa-calendar"></i>
                                <?= $post->getCreatedAt() ?>
                            </time>
                        </p>
                    </header>
                    <div class="blog__post-excerpt" itemprop="text">
                        <a href="<?= $block->getBaseUrl() . "{$post->getUrlKey()}.html" ?>">
                            <img src="<?= $block->getMediaUrl($post->getThumbnail()) ?>" alt="<?= $post->getTitle() ?>" />
                        </a>
                        <p>
                            <?= $post->getShortDescription() ?>
                        </p>
                        <a class="read-more" href="<?= $block->getBaseUrl() . "{$post->getUrlKey()}.html" ?>">Read more...</a>
                    </div>
                    <footer class="blog__post-footer">
                        <span class="blog__post-footer-categories">
                            <i class="fa fa-fw fa-folder-open"></i>
                            <?= $block->getCategoryPostName($post->getId()) ?>
                        </span>
                        <span class="blog__post-footer-tags">
                            <i class="fa fa-fw fa-tags"></i>
                            <?= $block->getTagPostName($post->getId()) ?>
                        </span>
                    </footer>
                </li>
            <?php endforeach ?>
        </ol>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </div>
<?php else: ?>
    <div class="message notice">
        <div><?= __('There are no posts available for this category.') ?></div>
    </div>
<?php endif ?>
