
.blog__sidebar-search {
    margin-bottom: 2rem;
}

.blog__sidebar-search form input {
    font-size: 1.3rem;
    border-radius: 3px;
}

.blog__sidebar-search form {
    position: relative;
}

.action.primary {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}

.blog__sidebar-search form button {
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 0 3px 3px 0;
}

.blog__post-list-wrapper .blog__post-list {
    list-style: none;
    padding: 0;
}
.blog__post-list-wrapper .blog__post-list > li {
    margin-bottom: 3rem;
    border-bottom: 1px dotted #ddd;
}
.blog__post-list-wrapper .toolbar {
    position: relative;
}
.blog__post-item .blog__post-header .blog__post-title {
    margin-bottom: 1.5rem;
    margin-top: 0;
}
.blog__post-item .blog__post-header .blog__post-title a {
    color: #333;
    font-size: 3.5rem;
}
.blog__post-item .blog__post-header .blog__post-title a:hover {
    text-decoration: none;
    color: #000;
}
.blog__post-item .blog__post-excerpt > img, .blog__post-item .blog__post-excerpt > a > img {
    float: left;
    padding: 0 2rem 2rem 0;
    max-width: 30%;
}
.blog__post-item .blog__post-excerpt .read-more {
    display: block;
    text-align: right;
    margin-top: 1rem;
}
.blog__main-recent .item img {
    padding: 0 1rem 1rem 0;
    float: left;
    max-width: 10rem;
    border-radius: 2px;
}
.blog__main-recent .item a {
    color: #333;
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
}
.blog__post-meta {
    color: #a3a3a3;
    margin-bottom: 2rem;
}
.blog__post-meta .blog__post-meta-time, .blog__post-meta .blog__post-meta-author, .blog__post-meta .blog__post-meta-comments, .blog__post-meta .blog__post-meta-sharing {
    margin-right: 2rem;
}
.blog__post-meta .blog__post-meta-sharing {
    display: inline-block;
    margin-left: 2rem;
}
.blog__post-footer {
    margin-bottom: 4rem;
    color: #a3a3a3;
}
.blog__post-footer .blog__post-footer-categories, .blog__post-footer .blog__post-footer-tags {
    display: block;
    float: right;
    margin-left: 2rem;
}
.blog__post-footer .blog__post-footer-categories a, .blog__post-footer .blog__post-footer-tags a {
    color: #a3a3a3;
}
.blog__post-footer .blog__post-footer-categories a::after, .blog__post-footer .blog__post-footer-tags a::after {
    content: ',';
}
.blog__post-footer .blog__post-footer-categories a:last-child::after, .blog__post-footer .blog__post-footer-tags a:last-child::after {
    content: '';
}

.blog__sidebar-category-tree li.item.level-2 a {
    padding-left: 4rem;
}
.blog__sidebar-category-tree li.item.level-3 a {
    padding-left: 7rem;
}
.blog__sidebar-category-tree li.item.level-4 a {
    padding-left: 9rem;
}
.blog__sidebar-category-tree li.item.level-5 a {
    padding-left: 12rem;
}


.blog__post-item {
    clear: both;
}

.blog__post-excerpt {
    height: 200px;
}

.pager {
    display: flex;
    justify-content: space-between;
}

.blog__sidebar-tag-cloud a {
    color: #666;
}
