<?php
/** @var $block CategoryTree */

use SU\Blog\Block\Sidebar\CategoryTree; ?>

<style>
    .blog__sidebar-category-tree li.item.level-2 a {
        padding-left: 4rem;
    }
    .blog__sidebar-category-tree li.item.level-3 a {
        padding-left: 7rem;
    }
    .blog__sidebar-category-tree li.item.level-4 a {
        padding-left: 9rem;
    }
    .blog__sidebar-category-tree li.item.level-5 a {
        padding-left: 12rem;
    }
</style>

<div class="block block-collapsible-nav blog__sidebar-category-tree">
    <div class="title block-collapsible-nav-title"
         data-mage-init='{"toggleAdvanced": {"toggleContainers": "#block-collapsible-nav-blog", "selectorsToggleClass": "active"}}'>
        <strong><?= __('Categories') ?></strong>
    </div>
    <div class="block-collapsible-content content" id="block-collapsible-nav-blog">
        <ul class="nav items">
            <?php foreach ($block->getTree() as $category): ?>
                <li class="nav item level-<?= $category->getLevel() ?> <?php if ($block->isCurrent($category)): ?>current<?php endif ?>">
                    <a href="<?= $block->getBaseUrl() . "{$category->getUrlKey()}" ?>"><?= $category->getName() ?></a>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
</div>
