<?php
/** @var Recent $block */
$collection = $block->getCollection()
    ->setPageSize($this->getPageSize());
if ($collection->getSize() === 0) {
    return;
}

use SU\Blog\Block\Sidebar\Recent; ?>
<div class="block blog__sidebar-recent">
    <div class="block-title" style="
    font-size: 18px;
    margin-bottom: 1.5rem;
    color: #666;
    ">
        <?= __('Recent Posts') ?>
    </div>

    <div class="block-content">
        <ol class="items">
            <?php foreach ($collection as $post): ?>
                <?php
                $imgPath = $post->getThumbnail();
                ?>
                <li style="margin-top: 0;margin-bottom: 1rem; clear: both" class="item">
                    <?php if ($imgPath): ?>
                        <a href="<?= $block->getBaseUrl() . "{$post->getUrlKey()}.html" ?>">
                            <img
                                    src="<?= $block->getMediaUrl($imgPath) ?>"
                                    alt="<?= $post->getTitle() ?>"
                                    class="blog__post-featured-image"
                                    style="padding: 0 1rem 1rem 0;
                                            float: left;
                                            max-width: 10rem;
                                            border-radius: 2px;"
                            />
                        </a>
                    <?php endif ?>

                    <a style="color: #333;
                            text-decoration: none;" href="<?= $block->getBaseUrl() . "{$post->getUrlKey()}.html" ?>">
                        <?= $post->getTitle() ?>
                    </a>
                </li>
            <?php endforeach ?>
        </ol>
    </div>
</div>
