<?php
/** @var \SU\Blog\Block\Sidebar\Search $block */
?>

<div class="blog__sidebar-search">
    <form method="get" action="<?= $block->getBaseUrl() . 'blog/search/result/?q=with' ?>">
        <input type="search" name="q" placeholder="Search..." class="input-text required-entry"
               value="<?= $block->escapeHtml($block->getRequest()->getParam('q')) ?>"/>

        <button class="action primary" title="Submit" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

