<?php
/** @var TagCloud $block */

use SU\Blog\Block\Sidebar\TagCloud;

?>
<div class="block blog__sidebar-tag-cloud">
    <div class="block-title"
    style="font-size: 18px;
    color: #666;
    margin-bottom: 1.5rem;">
        Tag Posts
    </div>
    <div class="block-content">
        <?php foreach ($block->getCollection() as $tag): ?>
            <a href="" style="font-size: 1em; color: #666; padding:0px 10px;
                              border: 1px solid #a3a3a3; margin: 0 5px 15px 0px;
                              background: #f5f5f5">
                <?= $tag->getName() ?>
            </a>
        <?php endforeach ?>
    </div>
</div>
